@charset "utf-8";

@media screen and (min-width:760px) {
    #burger {
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul >li {
        display: inline-block;
    }
}